<p>
Gadget list
</p>


<table mat-table [dataSource]="gadgets" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No </th>
    <td mat-cell *matCellDef="let i = index"> {{ i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let gadget"> {{gadget.type}} </td>
  </ng-container>

  <ng-container matColumnDef="specifications">
    <th mat-header-cell *matHeaderCellDef> Specifications </th>
    <td mat-cell *matCellDef="let gadget"> {{gadget.specifications}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="gadgetColumns"></tr>
  <tr mat-row *matRowDef="let gadget; columns: gadgetColumns;"></tr>
</table>
