<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No</th>
    <td mat-cell *matCellDef="let i = index"> {{ i + 1}}</td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name</th>
    <td mat-cell *matCellDef="let row">
      <span *ngIf="!row.editing">{{row.user.firstName}}</span>
      <span *ngIf="row.editing">
        <mat-form-field>
          <input [autofocus]="row.focus" matInput [(ngModel)]="row.user.firstName">
        </mat-form-field>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name</th>
    <td mat-cell *matCellDef="let row">
      <span *ngIf="!row.editing">{{row.user.lastName}}</span>
      <span *ngIf="row.editing">
        <mat-form-field>
          <input  matInput [(ngModel)]="row.user.lastName">
        </mat-form-field>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age</th>
    <td mat-cell *matCellDef="let row">
      <span *ngIf="!row.editing">{{row.user.age}}</span>
      <span *ngIf="row.editing">
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="row.user.age">
        </mat-form-field>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="accent" (click)="dataSource.addEmptyUser()"><i class="material-icons">add</i></button>
    </th>
    <td mat-cell *matCellDef="let row">
      <button *ngIf="!row.editing" mat-icon-button color="primary" (click)="row.startEdit()">
        <i class="material-icons">create</i>
      </button>
      <button *ngIf="row.editing" mat-icon-button color="primary" (click)="dataSource.add(row)">
        <i class="material-icons">done</i>
      </button>
      <button mat-icon-button color="primary" focusable="false" (click)="dataSource.delete(row.user)">
        <i class="material-icons">delete</i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: userColumns;"></tr>
</table>
