<p>
  User list
</p>

<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No </th>
    <td mat-cell *matCellDef="let user; let i = index"> {{ i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let user"> {{user.age}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
  <tr mat-row *matRowDef="let user; columns: userColumns;"></tr>
</table>
